@model IEnumerable<Guild> //definuje model jako seznam objektů typu Guild

<h2>Seznam Guild</h2>
@if (Model == null || !Model.Any()){
    <p>Nebyly přiřazeny žádné záznamy.</p>
}
else {
<table class="table">
    <thead>
        <tr>
            <th>Název</th>
            <th>Typ</th>
            <th>Prestiž</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var guild in Model)
        {
            <tr>
                <td>@guild.Name</td>
                <td>@guild.Type</td>
                <td>@guild.Prestige</td>
                <td>
                        <a asp-action="Edit" asp-route-id="@guild.Id_Guild" class="btn btn-warning">Upravit</a>
                        <a asp-action="Delete" asp-route-id="@guild.Id_Guild" class="btn btn-danger">Smazat</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
<a href="/Guilds/Create" class="btn btn-primary">Přidat novou gildu</a>

