@model IEnumerable<Quest>

<h2>Seznam Questů</h2>

<table class="table">
    <thead>
        <tr>
            <th>Název</th>
            <th>Zadavatel</th>
            <th>Přijato kým</th>
            <th>Typ</th>
            <th>Nebezpečnost</th>
            <th>Odměna</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quest in Model)
        {
            <tr>
                <td>@quest.Name</td>
                <td>@quest.AssignedBy</td>
                <td>@quest.AcceptedBy</td>
                <td>@quest.Type</td>
                <td>@quest.Danger</td>
                <td>@quest.Pay</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@quest.Id" class="btn btn-warning">Upravit</a>
                    <a asp-action="Delete" asp-route-id="@quest.Id" class="btn btn-danger">Smazat</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Přidat nový quest</a>
